body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.head {
    background-color: steelBlue;
    text-align: center;
     border-radius: 15px 15px 15px 15px;
}

.head h1 {
  color:White;
  opacity:1;

}

.list-pie {
  align-items: center;
  justify-content: center
}



h3 {
  color:steelBlue;
  opacity:.9;
  font-size: 25px;
}
.head p {
  color:white;
  font-size: 15px;
  font-weight: 200;
}

.btn {
  margin: 5px 5px 5px 5px;
  border-color: SteelBlue;
  color:SteelBlue;
  /*transition: .5s;*/
}

.bar {
  fill: steelBlue;
  opacity: .8;
}


.btn:hover {
    background-color: #E04836;
    opacity:.7;
}

/*.menu:hover .pressed{
  background-color: #FFF; 
  color: steelBlue; 
}*/



.picture{
   align-items: center;
  justify-content: center;
}
.menu {
  align-items: center;
  justify-content: center;
}

.pressed {
    background-color: #E04836;
    opacity:.7;
    color:white;
}

.lead {
  font-size: 15px;
}

.line-labels {

  text-shadow:
    -2px -2px 0 #FFF,
    2px -2px 0 #FFF,
    -2px 2px 0 #FFF,
    2px 2px 0 #FFF;

}


strong {
  font-weight: 600;
}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
  margin-left:1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;

  /*color: white; */
  border: 0px solid rgba(86, 61, 124, .2);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pie-graph{
  align-items: center;
  justify-content: center;
   
}

.line-container{
  align-items: center;
  justify-content: center;
   
}
.pierow {
    align-items: center;
  justify-content: center;

}

/* pie */




.pie-graph path {
  stroke: black;
}
.pie-graph text {
  font-size: 10px;
  fill: black;
  text-anchor: middle;
}

text.inner-pie-labels {
  font-size: 10px;
  fill: white;
  text-anchor: middle;

}
